.text-white{
  color:$white;
}
.text-primary{
  color:$primary;
}
.text-base{
  color:$text-color;
}
.font-base{
  font-size:$font-size;
}
.font-sm{
  font-size:$font-size*0.8;
}
.font-lg{
  font-size:$font-size*1.2;
}
.font-lgr{
  font-size:$font-size*1.4;
}
