.common-pl-mn {
  padding-left: $common-pb-mn;
}
.common-pl-sm {
  padding-left: $common-pb-sm;
}
.common-pl {
  padding-left: $common-pb;
}
.common-pl-lg {
  padding-left: $common-pb-lg;
}

.common-pr-mn {
  padding-right: $common-pb-mn;
}
.common-pr-sm {
  padding-right: $common-pb-sm;
}
.common-pr {
  padding-right: $common-pb;
}
.common-pr-lg {
  padding-right: $common-pb-lg;
}

.common-pt-mn {
  padding-top: $common-pb-mn;
}
.common-pt-sm {
  padding-top: $common-pb-sm;
}
.common-pt {
  padding-top: $common-pb;
}
.common-pt-lg {
  padding-top: $common-pb-lg;
}

.common-pb-mn {
  padding-bottom: $common-pb-mn;
}
.common-pb-sm {
  padding-bottom: $common-pb-sm;
}
.common-pb {
  padding-bottom: $common-pb;
}
.common-pb-lg {
  padding-bottom: $common-pb-lg;
}

.common-ml-mn {
  margin-left: $common-pb-mn;
}
.common-ml-sm {
  margin-left: $common-pb-sm;
}
.common-ml {
  margin-left: $common-pb;
}
.common-ml-lg {
  margin-left: $common-pb-lg;
}

.common-mr-mn {
  margin-right: $common-pb-mn;
}
.common-mr-sm {
  margin-right: $common-pb-sm;
}
.common-mr {
  margin-right: $common-pb;
}
.common-mr-lg {
  margin-right: $common-pb-lg;
}

.common-mt-mn {
  margin-top: $common-pb-mn;
}
.common-mt-sm {
  margin-top: $common-pb-sm;
}
.common-mt {
  margin-top: $common-pb;
}
.common-mt-lg {
  margin-top: $common-pb-lg;
}

.common-mb-mn {
  margin-bottom: $common-pb-mn;
}
.common-mb-sm {
  margin-bottom: $common-pb-sm;
}
.common-mb {
  margin-bottom: $common-pb;
}
.common-mb-lg {
  margin-bottom: $common-pb-lg;
}
