/* 基本色调 */
$primary:#5c9944;
$primaryReverse:#fff;
$white:#fff;

/* 字体 */
$font-size:16px;
$font-size-icon:18px;
$text-color:#555;

/* 边际 */
$common-pb:20px;
$common-pb-lg:30px;
$common-pb-sm:10px;
$common-pb-mn:5px;
